---
---

@import "{{ site.theme }}";

.inner {
  width: 1000px;
}

a {
  color: darksalmon;
}

h1 {
  color: darkslategrey;
}

h2 {
  color: lightsalmon;
}

h3 {
  color: darkslategrey;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid darkseagreen;
}

table {
  background-color: azure;
  margin-bottom: 15px;
}

th {
  color: darkslategrey;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid darkseagreen;
}

td {
  text-align: left;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid darkseagreen;
}

pre {
  padding: 10px;
}

pre code {
  color: darkgrey;
}

code, pre {
  font-family: "monospace", "revert", "system-ui";
}
