---
---

@import "{{ site.theme }}";

.inner {
    width: 820px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table {
    background-color: azure;
}

th {
    font-weight: bold;
    padding: 4px;
}

td {
    text-align: left;
    padding: 4px;
}
